<div class="hero-unit" id="clouds">
  <h1>
    <%= t('.welcome', :default => 'Welcome') %>
  </h1>
</div>
<div class="row">
  <div class="span5">
    <h2>Blog</h2>
  </div>
  <div class="span4">
    <h2>Shopping List</h2>
    <table id="shopping_list" class="table table-striped">
      <thead>
        <tr>
          <th>Item</th>
          <th>Quantity</th>
        </tr>
      </thead>
      <tbody>
          <% ShoppingItem.all.each do |shopping_item| %>
            <tr><td><%= amazon_search_url(shopping_item.name) %></td><td><%= shopping_item.suggested_quantity %></td></tr>
          <% end %>
      </tbody>
    </table>
    <br />
    <br />
    <br />
    <a href="/List_for_Baby.xls">Download</a>
    <br />
    <br />
  </div>
</div>
<div class="row">
  <div class="span9 well">
    <h4>LINKS:</h4>
    <ul>
      <% Link.all.each do |l| %>
        <li><a href=<%= l.url %>><%= l.title %></a></li>
      <% end %>
    </ul>
  </div>
</div>

<style>
</style>
