<%= simple_form_for @event, :html => { :class => 'form-horizontal' } do |f| %>
  <fieldset>
    <legend><%= controller.action_name.capitalize %></legend>
    <%= f.association :task %>
    <%= f.input :start_time %>
    <%= f.input :duration %>
    <%= f.input :comment %>
    <div class="form-actions">
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
        events_path, :class => 'btn' %>
    </div>
  </fieldset>
<% end %>
